.nav-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.nav-items {
  font-family: 'Roboto';
  font-size: 20px;
  margin-right: 16px;
}
