.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #000000;
  font-weight: 500;
}
.login-button {
  height: 30px;
  width: 200px;
  border: 1px solid;
  border-radius: 4px;
  font-family: 'Roboto';
}
